/autoextract/runs
/autoextract/venv
/cli/build
/cli/dist
/cli/*.egg-info
/cli/runs
/cli/venv
/cli/fathom_web/fathom.zip
/docs/_build
/docs/venv
/fathom/.npm_installed
/fathom/node_modules
/fathom/*.log
/fathom/.nyc_output
/fathom/coverage
/fathom/dist
/fathom/LICENSE
/fathom/README.md
/fathom/**/*.js
!/fathom/rollup.config.js
!/fathom/test/browser/*
/fathom_fox/node_modules
/fathom_fox/addon/contentScript.js
/fathom_fox/addon/web-ext-artifacts
/fathom_fox/addon/evaluate.js
/fathom_fox/addon/simmer.js
/fathom_fox/addon/rulesets.js
**/__pycache__
