/.doc_tools_installed
/fathom/.npm_installed
/fathom/node_modules
/*.log
/fathom/.nyc_output
/coverage
/docs/_build
/fathom/dist
**/*.js
!/fathom/rollup.config.js
!/fathom/test/browser/*
/cli/build
/cli/dist
**/__pycache__
/cli/*.egg-info
/venv
