/cli/build
/cli/dist
/cli/*.egg-info
/cli/venv
/docs/_build
/docs/venv
/fathom/.npm_installed
/fathom/node_modules
/fathom/*.log
/fathom/.nyc_output
/fathom/coverage
/fathom/dist
/fathom/**/*.js
!/fathom/rollup.config.js
!/fathom/test/browser/*
**/__pycache__
